<head>
  <title>{{ title or renderData.title or metadata.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EndGam Gaming Magazine Template">
  <meta name="keywords" content="endGam,gGaming, magazine, html">
  <!-- Favicon -->
  <link href="img/favicon.ico" rel="shortcut icon"/>

  <!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- Stylesheets -->
  
    {% set css %}
      {% include  "assets/css/bootstrap.min.css" %}
      {% include  "assets/css/font-awesome.min.css" %}
      {% include  "assets/css/slicknav.min.css" %}
      {% include  "assets/css/owl.carousel.min.css" %}
      {% include  "assets/css/magnific-popup.css" %}
      {% include  "assets/css/animate.css" %}

    {% endset %}
    <style>{{ css | cssmin | safe }}</style>

	<!-- Main Stylesheets -->
	{% include  "assets/css/style.css" %}

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>


