<section class="blog-page">
		<div class="big-blog-item">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					{% for post in postslist | reverse %}
						<article{% if post.url == url %} data-current="current item"{% endif %} class="big-blog-item">
							<h3>
								<a href="{{ post.url | url }}">
									{% if post.data.title %}
										{{ post.data.title }}
									{% else %}
										Untitled
									{% endif %}
								</a>
							</h3>
							<div class="review-pic">
								<img src="{{ '/' | url }}_includes/assets/img/review/1.jpg" alt="">
							</div>
							{% if post.data.summary %}
								<p>
									{{ post.data.summary }}
								</p>
							{% endif %}
							<p>
								<time datetime="{{ post.date | machineDate }}">
									<small>{{ post.date | readableDate }} by {{ metadata.author.name }}</small>
								</time>
							</p>
							{% if post.data.tags %}
								<p>
									{% for tag in post.data.tags %}
									{%- if tag != "post" -%}
										{% set tagUrl %}/tags/{{ tag }}/{% endset %}
									<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
									{%- endif -%}
									{% endfor %}
								</p>
							{% endif %}
						</article>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
</section>





