<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/header.njk" %}

	<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
		
	{% include  "components/head.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

	{% include "components/footer.njk" %}

	</body>

</html>
