<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
		
	{% include  "components/header.njk" %}
	
	{{ layoutContent | safe }}

	{% include "components/newsletter.njk" %}

	{% include "components/footer.njk" %}

	</body>

</html>
