---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

{% set postslist = collections.posts %}

<!-- Foto pembatas -->
<section class="page-top-section set-bg" data-setbg="{{ '/' | url }}_includes/assets/img/page-top-bg/4.jpg">
<div class="page-info">
	<h2>{{ title }}</h2>
	<div class="site-breadcrumb">
		<a href="">{{ title }}</a>  /
		<span>{{ title }}</span>
	</div>
</div>
</section>
<!-- foto pembatas -->

{% include "components/pembatas.njk"%}


<section class="blog-page">
	<div class="container">
        {% include "components/postslist.njk" %}
	</div>
</section>
