---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

{% set postslist = collections.posts %}

<section class="blog-page">
	<div class="container">
        {% include "components/postslist.njk" %}
	</div>
</section>