---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---

{% set postslist = collections.posts %}


{% include "components/pembatas.njk"%}


<section class="blog-page">
	<div class="container">
        {% include "components/postslist.njk" %}
	</div>
</section>
