---
layout: layouts/base.njk
section: page
---
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{{ '/' | url }}_includes/assets/img/page-top-bg/4.jpg">
		<div class="page-info">
			<h2>{{ title }}</h2>
			<div class="site-breadcrumb">
				<a href="">{{ title }}</a>  /
				<span>{{ title }}</span>
			</div>
		</div>
	</section>
	<!-- Page top end-->


	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">
			{{ layoutContent | safe }}
		</div>
	</section>
	<!-- Contact page end-->

