---
layout: layouts/base.njk
section: page
---

<section class="blog-page">
		<div class="big-blog-item">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
                    {{ layoutContent | safe }}
                </div>
            </div>
	    </div>
</section>