---
layout: layouts/base.njk
section: page
---

	{% include "components/pembatas.njk"%}

	<!-- artikel page -->
	<section class="contact-page">
		<div class="container">
			{{ layoutContent | safe }}
		</div>
	</section>
	<!-- artikel page end-->


