---
layout: layouts/base.njk
section: post
---

{% include "components/pembatas.njk"%}  



<section class="games-single-page">

<!-- article section -->
		<div class="container">
			<div class="game-single-preview">
				<img src="{{ '/' | url }}_includes/assets/img/games/big.jpg" alt="">
			</div>
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
					<div class="gs-meta">{{ date | dateDisplay }}  /  in <a href="">Games</a></div>
					<h2 class="gs-title">{{ title }}</h2>
					<h4>Gameplay</h4>
					<p>{{ layoutContent | safe }}</p>
			    </div>
            </div>
		</div>	
<!-- article section end -->

</section> 

<section class="share-it">
			<div class="footer-social d-flex justify-content-center">
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
</section>







